@charset "UTF-8";
/*Null-styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------------------------------------------------*/
.contacts__image img, .contacts__image, .portfolio__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*---------------------------------------------------*/
html,
body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 200%;
  background-color: black;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  ._container {
    padding: 0 60px;
  }
}

/*-----------------------------------------------HEADER--------------------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.header__container {
  display: flex;
  min-height: 90px;
  align-items: center;
}
.header__logo {
  background: url(../assets/icons/logo.svg) 0 50% no-repeat;
  min-width: 50px;
  min-height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.header__menu {
  margin-left: auto;
}
.header__language {
  font-size: 20px;
  line-height: 250%;
}

.language {
  padding: 0 0 0 15px;
}
.language ._active {
  color: #beaf83;
}
.language__label {
  cursor: pointer;
  transition: all 0.3s ease;
}
.language__label:hover {
  color: #beaf83;
}
.language__button {
  display: none;
}
.language__separator {
  margin: 0 6px;
}

.menu__list {
  display: flex;
}
.menu__link {
  font-size: 20px;
  color: white;
  padding: 0 15px;
  line-height: 250%;
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: #beaf83;
}

/*------------------------------------------------PAGE----------------------------------------------*/
.page {
  flex: 1 1 auto;
  position: relative;
}
/*----------------------------HERO----------------------------*/
.hero {
  background: url("../assets/img/hero/hero_bg.jpg") 0 0 no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.hero__body {
  position: relative;
  max-width: 524px;
  padding: 250px 0 330px 60px;
  z-index: 10;
}
.hero__body .button__gold {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 8px 72px 7px 73px;
  background-color: #beaf83;
  color: black;
  font-size: 20px;
  min-height: 55px;
  border: none;
  transition: all 0.3s ease;
}
.hero__body .button__gold:hover {
  color: white;
}
.hero__title {
  font-family: Merriweather, serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 200%;
  margin: 0 0 10px 0;
}
.hero__subtitle {
  font-size: 20px;
  line-height: 200%;
  margin: 0 0 25px 0;
}

/*---Адаптив---*/
@media (max-width: 768px) {
  .hero {
    background-size: auto 620px;
    background-position: -5px -30px;
  }
  .hero__body {
    padding: 168px 0 152px 0;
    max-width: 420px;
  }
  .hero__title {
    font-size: 32px;
    margin: 0 0 20px 0;
  }
  .hero__subtitle {
    font-size: 20px;
    line-height: 125%;
    margin: 0 0 55px 0;
  }
}
/*---------------------------SKILLS--------------------------*/
.skills {
  position: relative;
  z-index: 5;
  margin: 0 0 20px 0;
}
.skills__container .header-block {
  width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
}
.skills__container .header-block__title {
  position: relative;
  font-size: 40px;
  line-height: 200%;
  font-weight: 700;
  font-family: Merriweather, serif;
  text-align: center;
  color: #beaf83;
  margin: 100px 0 60px 0;
}
.skills__container .header-block__title::before, .skills__container .header-block__title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 274px;
  height: 2px;
  background-color: #beaf83;
}
.skills__container .header-block__title::before {
  left: 0;
}
.skills__container .header-block__title::after {
  right: 0;
}
.skills__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.skills__column {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.skills__column:nth-of-type(1) {
  background: url("../assets/img/skills/camera.svg") 50% 0 no-repeat;
}
.skills__column:nth-of-type(2) {
  background: url("../assets/img/skills/video.svg") 50% 0 no-repeat;
}
.skills__column:nth-of-type(3) {
  background: url("../assets/img/skills/pic.svg") 50% 0 no-repeat;
}
.skills__column:nth-of-type(4) {
  background: url("../assets/img/skills/mic.svg") 50% 0 no-repeat;
}
.item-skills {
  padding: 100px 20px 8px 20px;
  text-align: center;
}
.item-skills__label {
  font-size: 20px;
  font-weight: 700;
  line-height: 200%;
  margin: 0 0 20px 0;
}
/*---Адаптив---*/
@media (max-width: 768px) {
  .skills__container .header-block {
    width: 56%;
  }
  .skills__container .header-block__title {
    font-size: 32px;
    line-height: 250%;
    margin: 80px 0 50px 0;
  }
  .skills__container .header-block__title::before, .skills__container .header-block__title::after {
    width: 117px;
  }
  .skills .header-block__title {
    line-height: 125%;
    margin: 100px 0 56px 0;
  }
  .skills__body {
    margin: 0 -22px;
  }
  .skills__column {
    flex: 0 1 50%;
    padding: 0 22px;
  }
  .skills__column:nth-of-type(1) {
    background: url("../assets/img/skills/camera.svg") 50% 5% no-repeat;
    margin: 0 0 25px 0;
  }
  .skills__column:nth-of-type(2) {
    background: url("../assets/img/skills/video.svg") 50% 5% no-repeat;
    margin: 0 0 25px 0;
  }
  .skills__column:nth-of-type(3) {
    background: url("../assets/img/skills/pic.svg") 50% 5% no-repeat;
    margin: 0 0 20px 0;
  }
  .skills__column:nth-of-type(4) {
    background: url("../assets/img/skills/mic.svg") 50% 5% no-repeat;
    margin: 0 0 20px 0;
  }
  .skills .item-skills {
    padding: 90px 10px 40px 10px;
  }
  .skills .item-skills__label {
    font-size: 20px;
    font-weight: 700;
    line-height: 200%;
    margin: 0 0 20px 0;
  }
  .skills .item-skills__text {
    line-height: 125%;
  }
}
/*-------------------------PORTFOLIO-------------------------*/
.portfolio__container .header-block {
  width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
}
.portfolio__container .header-block__title {
  position: relative;
  font-size: 40px;
  line-height: 200%;
  font-weight: 700;
  font-family: Merriweather, serif;
  text-align: center;
  color: #beaf83;
  margin: 100px 0 60px 0;
}
.portfolio__container .header-block__title::before, .portfolio__container .header-block__title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 238px;
  height: 2px;
  background-color: #beaf83;
}
.portfolio__container .header-block__title::before {
  left: 0;
}
.portfolio__container .header-block__title::after {
  right: 0;
}
.portfolio__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 0 60px 0;
}
.portfolio__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.portfolio__item {
  flex: 0 1 33.3333%;
  max-width: 450px;
  position: relative;
}
.portfolio__image {
  position: relative;
  width: 100%;
}
.button .button__dark {
  margin: 0 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 8px 79px 7px 79px;
  background-color: black;
  color: #beaf83;
  font-size: 20px;
  min-height: 55px;
  border: 1px solid #beaf83;
  transition: all 0.3s ease;
}
.button .button__dark:hover {
  color: white;
}
.button .button__dark:nth-child(3) {
  padding: 8px 70px 7px 69px;
}
.button .button__gold {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 8px 73px 7px 73px;
  background-color: #beaf83;
  color: black;
  font-size: 20px;
  min-height: 55px;
  border: none;
  transition: all 0.3s ease;
}
.button .button__gold:hover {
  color: white;
}

/*---Адаптив---*/
@media (max-width: 768px) {
  .portfolio__container .header-block {
    width: 56%;
  }
  .portfolio__container .header-block__title {
    font-size: 32px;
    line-height: 250%;
    margin: 80px 0 50px 0;
  }
  .portfolio__container .header-block__title::before, .portfolio__container .header-block__title::after {
    width: 90px;
  }
  .portfolio__buttons {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-auto-rows: 54px 54px;
    gap: 5px;
    margin: 0 auto 60px;
  }
  .portfolio__buttons .button__dark {
    margin: 0;
  }
  .portfolio__item {
    flex: 0 1 100%;
  }
}
/*---------------------------VIDEO---------------------------*/
.video__container .header-block {
  width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
}
.video__container .header-block__title {
  position: relative;
  font-size: 40px;
  line-height: 200%;
  font-weight: 700;
  font-family: Merriweather, serif;
  text-align: center;
  color: #beaf83;
  margin: 100px 0 60px 0;
}
.video__container .header-block__title::before, .video__container .header-block__title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 273px;
  height: 2px;
  background-color: #beaf83;
}
.video__container .header-block__title::before {
  left: 0;
}
.video__container .header-block__title::after {
  right: 0;
}
.video__block {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.video__block img {
  width: 100%;
  height: 100%;
}
.video__block .video_button {
  background: url("../assets/icons/play.svg") 50% 50% no-repeat;
  position: absolute;
  width: 130px;
  height: 130px;
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease;
}
.video__block .video_button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

/*---Адаптив---*/
@media (max-width: 768px) {
  .video__container .header-block {
    width: 56%;
  }
  .video__container .header-block__title {
    font-size: 32px;
    line-height: 250%;
    margin: 80px 0 50px 0;
  }
  .video__container .header-block__title::before, .video__container .header-block__title::after {
    width: 117px;
  }
  .video__block {
    padding: 0;
    height: 418px;
  }
  .video__block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
  .video__block .video_button {
    background: url("../assets/icons/play.svg") 50% 50% no-repeat;
    position: absolute;
    width: 65px;
    height: 65px;
    z-index: 100;
    cursor: pointer;
    background-size: cover;
    transition: all 0.3s ease;
  }
  .video__block .video_button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
}
/*---------------------------Price---------------------------*/
.price__container .header-block {
  width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
}
.price__container .header-block__title {
  position: relative;
  font-size: 40px;
  line-height: 200%;
  font-weight: 700;
  font-family: Merriweather, serif;
  text-align: center;
  color: #beaf83;
  margin: 100px 0 60px 0;
}
.price__container .header-block__title::before, .price__container .header-block__title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 279px;
  height: 2px;
  background-color: #beaf83;
}
.price__container .header-block__title::before {
  left: 0;
}
.price__container .header-block__title::after {
  right: 0;
}
.price__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0 0 100px 0;
}
.price__column {
  flex: 0 1 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 3px solid #beaf83;
  max-width: 450px;
  max-height: 505px;
  margin: 0 0 50px 0;
}
.price__item {
  text-align: center;
  padding: 43px 42px 40px 42px;
}

.item-price__label {
  font-family: Merriweather, serif;
  font-size: 28px;
  line-height: 200%;
  margin: 0 0 20px 0;
}
.item-price__cost {
  color: #beaf83;
  font-family: Merriweather, serif;
  font-weight: 700;
  line-height: 200%;
  font-size: 24px;
  margin: 0 0 20px 0;
}
.item-price__service-list {
  margin: 0 0 40px 0;
}
.item-price .button__gold {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 8px 39px 7px;
  background-color: #beaf83;
  color: black;
  font-size: 20px;
  min-height: 55px;
  border: none;
  transition: all 0.3s ease;
}
.item-price .button__gold:hover {
  color: white;
}

/*---Адаптив---*/
@media (max-width: 768px) {
  .price__container .header-block {
    width: 56%;
  }
  .price__container .header-block__title {
    font-size: 32px;
    line-height: 250%;
    margin: 80px 0 50px 0;
  }
  .price__container .header-block__title::before, .price__container .header-block__title::after {
    width: 121px;
  }
  .price__body {
    gap: 0;
    padding: 0;
    margin: 0 0 30px 0;
  }
  .price__column {
    flex: 0 1 100%;
    max-width: 420px;
  }
  .price__item {
    text-align: center;
    padding: 43px 42px 40px 42px;
  }
}
/*--------------------------Contacts--------------------------*/
.contacts {
  position: relative;
}
.contacts__body {
  position: relative;
  z-index: 50;
  display: flex;
  padding: 60px 0 195px 0;
  flex-direction: column;
  max-width: 450px;
  margin-left: auto;
}
.contacts .button__gold {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 8px 40px 7px 40px;
  background-color: #beaf83;
  color: black;
  font-size: 20px;
  min-height: 55px;
  border: none;
  transition: all 0.3s ease;
  max-width: 220px;
}
.contacts .button__gold:hover {
  color: white;
}
.contacts__title {
  font-size: 40px;
  line-height: 200%;
  font-weight: 700;
  font-family: Merriweather, serif;
  color: #beaf83;
  margin: 0 0 40px 0;
}
.contacts__item {
  margin: 0 0 20px 0;
  padding: 5px 20px;
  color: #beaf83;
  font-size: 20px;
  line-height: 200%;
  display: flex;
  min-height: 50px;
  border: 2px solid #beaf83;
  background-color: rgba(0, 0, 0, 0.5);
}
.contacts__item::placeholder {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
.contacts .item-email,
.contacts .item-tel {
  max-height: 50px;
}
.contacts .item-text {
  resize: none;
  margin: 0 0 30px 0;
  min-height: 100px;
}
.contacts__image {
  max-height: 700px;
}
.contacts__image img {
  object-fit: cover;
}

/*---Адаптив---*/
@media (max-width: 768px) {
  .contacts__container {
    display: flex;
    justify-content: center;
  }
  .contacts__body {
    padding: 60px 0 111px 0;
    margin: 0;
    min-width: 450px;
  }
  .contacts__title {
    font-size: 32px;
    line-height: 200%;
    font-weight: 700;
    font-family: Merriweather, serif;
    color: #beaf83;
    margin: 0 0 40px 0;
    align-self: center;
  }
  .contacts__item {
    padding: 5px 18px;
  }
  .contacts__button {
    align-self: center;
  }
  .contacts__image {
    max-height: 600px;
  }
}
/*-----------------------------------------------FOOTER-------------------------------------------------*/
.footer {
  padding: 50px 0;
}
.footer__column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  max-height: 150px;
  font-size: 20px;
  line-height: 250%;
  padding: 0 2px;
}
.footer__column a {
  color: white;
  transition: all 0.3s ease;
}
.footer__column a:hover {
  color: #beaf83;
}
.footer__column-left .footer__column-item {
  margin: 0 13px 0 0;
}
.footer__column-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.footer .social__item {
  list-style: none;
  padding: 0 2px;
}
.footer .social__item:not(:last-child) {
  margin: 0 23px 0 0;
}
.footer .social__link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.footer .social__link img {
  vertical-align: middle;
}

/*---Адаптив---*/
@media (max-width: 768px) {
  .footer {
    min-height: 190px;
    padding: 28px 0;
  }
  .footer__container {
    margin: auto;
  }
  .footer__column {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    line-height: 125%;
    padding: 0;
  }
  .footer__column-left {
    flex: 0 1 100%;
    margin: 0 0 15px 0;
  }
  .footer__column-center {
    flex: 0 1 100%;
    margin: 0 0 31px 0;
  }
  .footer__column-right {
    flex: 0 1 100%;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
