/*Null-styles*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*---------------------------------------------------------------*/

// Variables
$fontSize: 18px;
$fontSizeLabel: 20px;
$lineHeight: 200%;
$fontWeight: 400;
$fontFamily: Inter, sans-serif;

$maxWidthContainer: 1400px;

$fontColor: hsl(0, 0%, 100%);
$bgColor: hsl(0, 0%, 0%);
$decorColor: hsl(45, 31%, 63%);

//Buttons
$btnTextColorHover: hsl(0, 0%, 100%);

//Buttons light
$btnLightBgColor: hsl(45, 31%, 63%);
$btnLightTextColor: hsl(0, 0%, 0%);
//Buttons dark
$btnDarkBgColor: hsl(0, 0%, 0%);
$btnDarkTextColor: hsl(45, 31%, 63%);

//Mixins
%img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*---------------------------------------------------*/

html,
body {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
  line-height: $lineHeight;
  background-color: $bgColor;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column
}
._container {
  max-width: $maxWidthContainer;
  //padding: 0 15px;
  margin: 0 auto;
}
/*-----------HEADER-----------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  &__container {
    display: flex;
    padding: 20px 0;
    align-items: center;
  }

  &__logo {
    background: url(../assets/icons/logo.svg) 0 50% no-repeat;
    min-width: 50px;
    min-height: 40px;
  }

  &__menu {
    margin-left: auto;
  }
  &__language {
    font-size: $fontSizeLabel;
    line-height: 250%;
  }
}
.language {
  padding: 0 0 0 15px;

  &__label {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $btnDarkTextColor;
    }
  }
  &__button {
    display: none;

  }

}

.menu {
  &__body {}
  &__list {
    display: flex;
  }
  &__item {

  }
  &__link {
    font-size: $fontSizeLabel;
    color: $fontColor;
    padding: 0 15px;
    line-height: 250%;
  }
}
/*-----------PAGE-----------*/
.page {
  flex: 1 1 auto;
  position: relative;
  &__hero {

  }
}
.hero {
  &__container {

  }
  &__body {
    position: relative;
    max-width: 524px;
    padding: 185px 0 330px 60px;
    z-index: 50;


  }
  &__title {
    font-family: Merriweather, serif;
    font-size: 60px;
    font-weight: 700;
    line-height: $lineHeight;
    margin: 0 0 10px 0;
  }
  &__subtitle {
    font-size: $fontSizeLabel;
    line-height: $lineHeight;
    margin: 0 0 25px 0;
  }
  &__button {
    display: flex;
  }

  &__image {
    @extend %img;

      img {
        @extend %img;
        object-fit: cover;
      }
  }
}
// Gold button
.button {


  &__gold {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 8px 72px 7px 73px;
    background-color: $btnLightBgColor;
    color: $btnLightTextColor;
    min-height: 55px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $btnTextColorHover;
    }
  }

}



.footer {}